@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
 


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}


.fwtoheader {
    width: 600px;
}


.headercontainer,
.headercointainer2 {
    display: flex;
  justify-content: space-between;
  padding: 16px;
}


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
  }


.header {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
}

img {
    max-width: 100%;
}
























.quote {
    max-width: 600px;
    margin: 10px 30px;
    padding: 25px;
    background-color: bisque;
    border: 1px solid #b0d2cb;
    color: black;
    box-sizing: border-box;
}